
.table {
  min-width: 350px;

  td, th {
    width: 25%;
  }

}

.title {

  &.positive th {
    background-color: #328321;
  }

  &.negative th {
    background-color: #e30606;
  }
}

.header th {
  background-color: #145751;
}

.totalRow td {
  background-color: #1e2f41;
}
